body {
  background-color: white;
}

.logo {
  width: 13em;
  height: 63px;
}

h1 {
  font-weight: 300;
}

h1 strong {
  font-weight: 600;
  color: #30a2ff;
}

.inputstyle {
  padding: 20px !important;
}

.whoop {
  background-color: #30a2ff;
  width: 8em;
  font-size: 30px !important;
  color: #ffffff;
}

.caloriescont {
  background-color: whitesmoke;
  padding: 30px;
}

.caloriescont ul {
  padding: 0px;
}

.caloriescont ul li {
  list-style: none;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  width: 80%;
}

.caloriescont h3 {
  color: greenyellow;
  font-size: 2em;
  text-transform: capitalize;
  font-weight: 700;
}

.caloriescont h5 {
  color: #30a2ff;
}

.servingsize {
  background-color: #30a2ff;
  padding: 10px;
  color: white;
}
.text-center {
  text-align: center;
}
