<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Data Berat Badan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <style>
        .nav-link {
            color: black;
        }

        .jumbotron {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }

        .logout-btn {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <div>
        <nav class="navbar navbar-expand-lg shadow-sm fixed-top" style="background-color: #30a2ff;">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav me-auto">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Count Food Calorie</a>
                        <a class="nav-link" href="{% url 'food' %}">Food</a>
                        <a class="nav-link active" href="#home">Record Weight</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="jumbotron">
        <h1 class="display-4 text-center">Hai, {{user.username|capfirst}} 👋</h1>
        <p class="lead text-center">Disini kamu dapat merekam berat badan kamu</p>
        <hr class="my-4">
        <p class="text-center"><strong>"Berat badan ideal itu penting untuk kesehatan"</strong></p>
    </div>
    <div class="container" id="rekam">
        {% block content %}
        {% endblock %}
    </div>
    <a href="{% url 'login' %}" class="btn btn-danger logout-btn">Logout</a>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>